# Ignore execution files
*.exe

# Ignore object files
*.o

# Ignore project files
*.dev

# Ignore window configuration files
*.win

# Ignore files related with Visual Studio
*.sln
.vs
*/.vs 
*.vcxproj
*.filters
*.user
x64
*/x64